body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    background:#222;
    font-family: 'Heebo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: #fff;
    opacity: 80%;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}

.weatherContainer{
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    margin: 10px;
    text-shadow: rgb(245, 245, 243) 1px 0 10px;

    position: fixed;
    left: 15%;
    top: 12%;
    transform: translate(-35%, 0%);
    font-size: 1.2em;
    font-weight: 400;
}

.message{
    font-size: 25px;
    transform: translate(3%, 50%);
}

.teamContainer{
    font-size: 50px;
    border-radius: 30px;
    margin: 10px;
    text-shadow: rgb(245, 245, 243) 1px 0 10px;

    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 35px;
    width: 35px;
    background: #7c7c7c2b;
    color: white;
}

button:hover{
    background: #7c7c7c6b;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input[type="text"].searchBar{
    border: none;
    outline: none;
    padding: 0.3em 1em;
    border-radius: 18px;
    height: 2em;
    width: 24em;
    background: #7c7c7c2b;
    color: white;
}

.description{
    text-transform: capitalize;
}

input[type="checkbox"].toggle + label{
    display:flex;
    position: relative;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle + label::before{
    content: "";
    width: 4em;
    height: 2em;
    background-color:#7c7c7c2b;
    border-radius: 1em;
    transition: 0.2s ease-in-out;
}

input[type="checkbox"].toggle + label::after{
    display:flex;
    justify-content: center;
    align-items: center;
    content: "F°";
    color: #5b5959;
    position: absolute;
    left: 0;
    content: "F°";
    width: 2em;
    height: 2em;
    background-color:white;
    border-radius: 1em;
    transition: 0.2s ease-in-out;
}

input[type="checkbox"].toggle:checked + label::after{
    transform: translateX(100%);
    content: "C°";
}

input[type="checkbox"].toggle:checked + label{
    color:red;
}

input[type="checkbox"].toggle{
    opacity: 0;
    position: absolute;
    left: -99999px;
    top: -99999px;
}

.inputSlider{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-content: center;
}